#canvas-container {
  position: relative;
}

#canvas-container canvas {
  position: absolute;
}

#canvas-background {
  z-index: -1;
}

@media screen and (orientation: portrait) {
  #canvas-container {
    height: calc(100vh - 10rem);
    width: calc(100vw - 2rem);
  }
}

@media screen and (orientation: landscape) {
  #canvas-container {
    height: calc(100vh - 2rem);
    width: calc(100vw - 20rem);
  }
}
