:root {
  --mdc-theme-primary: #212121;
  --mdc-theme-primary-light: #484848;
  --mdc-theme-primary-dark: #000000;
  --mdc-theme-primary-text: #FFFFFF;
  
  --mdc-theme-secondary: #d81b60;
  --mdc-theme-secondary-light: #ff5c8d;
  --mdc-theme-secondary-dark: #a00037;
  --mdc-theme-secondary-text: #FFFFFF;

  --color-white: #FFFFFF;
  --color-white-transparent: rgba(255, 255, 255, .95);
  --color-background-light: #f8f8f8;

  --book: p22-underground, sans-serif;
  --bold: prohibition, sans-serif;

  --max-width: 100vw;
  --max-height: 100vh;

  --border-color: #000000;
  --border-radius: 6px;
}

body {
  margin: 0;

  font-family: var(--book);
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
.bold {
  font-family: var(--bold);
  font-weight: 400;
  font-style: normal;
}

iframe {
  max-width: calc(100vw - 4rem);
}

#app {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: var(--max-height);
  width: var(--max-width);
}

/* MDC Resets */

.mdc-button {
  font-family: var(--book);
}

.mdc-button.mdc-ripple-surface--accent  {
  background-color: var(--mdc-theme-secondary);
}

@media screen and (orientation:portrait) {
  #app {
    justify-content: flex-start;
  }
}

@media screen and (orientation: landscape) {
  .hide-landscape {
    display: none;
  }
}
