#landing-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#landing-page h1 {
  font-size: 15vw;
  margin: 0;
}

#landing-page .mdc-button {
  margin-bottom: 4rem;
}

#landing-page p {
  font-size: 1.5rem;
  padding: 0 2rem;
  max-width: 30rem;
  text-align: center;
}

@media screen and (orientation: portrait) {
  #game-page {
    height: var(--max-height);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: calc(100vh - 2rem);
  }
}

@media screen and (orientation: landscape) {
  #game-page {
    width: var(--max-width);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
