#modal .content,
#notification .content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
  background: var(--color-white);
  overflow: auto;
}

#notification .content {
  z-index: 1;
  background: var(--color-white-transparent);
  transition: opacity 500ms;
  opacity: 1;
}

#notification .content[hidden] {
  opacity: 0;
}

#modal .tall {
  align-items: flex-start;
}

#modal h2 {
  margin: 1rem;
  font-size: 15vw;
}

#modal .column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal .results {
  text-align: left;
}

#modal .results table {
  max-width: calc(100vw - 2rem);
}

#modal .results th,
#modal .results td {
  padding: 2px;
}

#modal .results .email {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 18vw;
}

#modal p {
  max-width: 30rem;
}

#modal .top-right-fab {
  position: fixed;
  top: 2rem;
  right: 2rem;
}

#modal .side-by-side {
  display: flex;
  justify-content: space-around;

  width: 100%;
  padding: 2rem 0 4rem;
}

#modal .games > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

#modal .games .double-height {
  display: flex;
  flex-direction: column;
}

#modal .games .double-height div:first-child {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

#modal .emails {
  list-style-type: none;
  padding: 0;
}

#modal .play-fab-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

#modal .explanation-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  width: calc(100vw - 2rem);
  margin: 1rem 0;
}

#modal .explanation-wrapper:nth-of-type(odd) {
  background: var(--color-background-light);
}

#modal .row {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 0 2rem;
}

#modal .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* 
  border: 1px solid var(--mdc-theme-primary-dark);
  border-width: 1px 1px 1px 1px;
  border-radius: var(--border-radius); */

  padding: 1rem 2rem;
}

#modal .card ul {
  list-style: none;
  padding: 0;

  min-width: 150px;
}

#modal .card li {
  display: flex;
  justify-content: space-between;
}

#modal .paragraph {
  text-align: left;
  width: 30rem;
  max-width: calc(100vw - 6rem);
}

#modal img {
  border-radius: var(--border-radius);
  max-width: calc(100vw - 6rem);
}

#modal .user-matches {
  display: flex;
  flex-wrap: wrap;
}

#modal .user-matches .match {
  display: flex;
  flex-wrap: wrap;

  padding: 0.5rem;
  margin: 0.5rem;

  /* border: 1px solid var(--border-color);
  border-radius: var(--border-radius); */
}

#modal .column .mdc-fab {
  margin: 4rem 0;
}

#modal .start-game-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
