#top-bar {
  display: flex;
  align-items: center;
}

#top-bar .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#top-bar h4 {
  margin: 0 0 1px 0;
}

#top-bar h4:last-of-type {
  margin-right: 1rem;
}

#top-bar .mdc-button {
  margin-top: 4px;
}

#top-bar .menu-wrapper {
  display: flex;
  justify-content: flex-end;

  padding: 1rem;
}

#top-bar .mdc-list {
  width: 15rem;
}

#top-bar .mdc-list-item {
  justify-content: space-between;
}

#control-bar {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1rem;
}

#control-bar > span {
  margin-right: 1rem;
}

.flex {
  flex: 1;
}

@media screen and (orientation: portrait) {
  #top-bar {
    width: 100%;
  }

  #control-bar {
    width: 100%;
  }
}

@media screen and (orientation: landscape) {
  #top-bar {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  #top-bar .buttons {
    flex-direction: column-reverse;
  }

  #top-bar h4:last-of-type {
    margin-right: 0rem;
  }

  #control-bar {
    flex-direction: column;
    align-items: flex-end;
  }

  #control-bar .left-pad {
    padding-left: 7px;
  }
}
